---
import phoneIconImg from "@assets/img/symbols/phone.svg";
import featuresIconImg from "@assets/img/symbols/reception-3.svg";
import helpWantedIconImg from "@assets/img/symbols/question-diamond-fill.svg";
import deviceSpecIconImg from "@assets/img/symbols/cpu.svg";
import contributorsIconImg from "@assets/img/symbols/person-badge.svg"; // Same for docLinks ?
import installerIconImg from "@assets/img/symbols/cloud-arrow-down.svg";
import reportBugIconImg from "@assets/img/symbols/flag.svg";
import communityIconImg from "@assets/img/symbols/community.svg";

const { availableData } = Astro.props;
---

<div class="nav-menu d-print-none">
  <ul id="sidenav" class="nav">
    <li class="hide-mobile">
      <a href="#deviceOverview"
        ><img class="dark-invert-40" src={phoneIconImg} title="Report Bug" />
        <span>Overview</span>
      </a>
    </li>
    {
      availableData.portStatus && (
        <li class="hide-mobile">
          <a href="#portStatus">
            <img
              class="dark-invert-40"
              src={featuresIconImg}
              title="Features & Usability"
            />
            <span>Features & Usability</span>
          </a>
        </li>
      )
    }
    {
      availableData.helpWanted && (
        <li class="hide-mobile">
          <a href="#helpWanted">
            <img
              class="dark-invert-40"
              src={helpWantedIconImg}
              title="Help Test"
            />
            <span>Help Test</span>
          </a>
        </li>
      )
    }
    {
      availableData.deviceSpec && (
        <li class="hide-mobile">
          <a href="#deviceSpec">
            <img
              class="dark-invert-40"
              src={deviceSpecIconImg}
              title="Specifications"
            />
            <span>Specifications</span>
          </a>
        </li>
      )
    }
    {
      availableData.docLinks && (
        <li class="hide-mobile">
          <a href="#docLinks">
            <img
              class="dark-invert-40"
              src={contributorsIconImg}
              title="Doc Links"
            />
            <span>Related Docs</span>
          </a>
        </li>
      )
    }
    {
      availableData.portContributors && (
        <li class="hide-mobile">
          <a href="#portContributors">
            <img
              class="dark-invert-40"
              src={contributorsIconImg}
              title="Contributors"
            />
            <span>Contributors</span>
          </a>
        </li>
      )
    }
    {
      availableData.installerDownload && (
        <li class="hide-mobile">
          <a href="#installerDownload">
            <img
              class="dark-invert-40"
              src={installerIconImg}
              title="UBports Installer"
            />
            <span>UBports installer</span>
          </a>
        </li>
      )
    }
    <li>
      <a sidebarjs-toggle="flagIssueSidebar">
        <img class="dark-invert-40" src={reportBugIconImg} title="Report Bug" />
        <span>Report Bug</span>
      </a>
    </li>
    {
      availableData.discussionsbar && (
        <li>
          <a sidebarjs-toggle="discussionSidebar">
            <img
              class="dark-invert-40"
              src={communityIconImg}
              title="Device Community"
            />
            <span>Community</span>
          </a>
        </li>
      )
    }
  </ul>
</div>

<script>
  import { componentScriptLoader } from "@logic/client/clientNavigation.js";
  import scrollSpy from "simple-scrollspy";

  componentScriptLoader("#sidenav", () => {
    scrollSpy("#sidenav", { offset: 10 });
  });
</script>
