---
const { portType, portTypeDescription, kernelVersion, docLinks } = Astro.props;
---

<!-- Docs -->
<div id="docLinks" class="scrollspy row no-gutters mt-5">
  {
    !!portType && (
      <div class="col-md-12 col-lg-5 related">
        <h2 class="title bold mb-3">Built on {portType}</h2>
        <p>{portTypeDescription}</p>
        {!!kernelVersion && (
          <span>Kernel version on the device is {kernelVersion}.</span>
        )}
        <p class="mt-4 d-print-none">
          →
          <a href="https://docs.ubports.com/en/latest/porting/introduction/Intro.html">
            Learn more
          </a>
        </p>
      </div>
    )
  }

  {
    !!docLinks && (
      <div class="col-md-6 offset-lg-1 mt-5 mt-lg-0 related d-print-none">
        <h2 class="title bold mb-3">Docs</h2>
        <ul>
          {docLinks.map((link) => (
            <li>
              <p>
                → <a href={link.link}>{link.name}</a>
              </p>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</div>
